beautifulsoup4==4.12.3
bottle==0.12.25
certifi==2024.7.4
charset-normalizer==3.3.2
frozendict==2.4.4
html5lib==1.1
idna==3.7
lightweight-charts==2.0.1
lxml==5.2.2
multitasking==0.0.11
nselib==1.0
numpy==2.0.0
pandas==2.2.2
peewee==3.17.6
platformdirs==4.2.2
proxy_tools==0.1.0
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Security==10.3.1
pyobjc-framework-WebKit==10.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
pywebview==5.1
requests==2.32.3
scipy==1.13.1
six==1.16.0
soupsieve==2.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
yfinance==0.2.54
